.form{
  place-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: space-between;
  background-color: #deb8877a;
  top: 193px;
  position: relative;
  height: 491px;
}
.head{
  place-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-color: #f44336;
    color: #3F51B5;
    align-content: space-between;
    background-color: #7fffd480;
    top: 88px;
    position: relative;
}

.error{
  color: red;
  background: #e4ff0042;
}

.basic{
  background: aliceblue;
  width: 203px;
  height: 148px;
  top: 10px;
  position: inherit;
  /* margin: 14px; */
  padding: 44px;
}
